@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofadi+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofadi+One&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* padding-top: 100px; */
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.wrapper {
  /* position: relative; */
  width: 95%;
  height: 100%;
  margin: 0 auto;
  background-image: url(/bg-curve-desktop.svg);
  /* text-align: center; */
}

.header-nav {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 1000;
  background: #333; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 25px;
  /* border: 4px solid black; */
}

/* .logo {
  border: 4px solid red;
  padding: 15px 0;
} */

nav {
  /* border: 3px solid green; */
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul a {
  text-decoration: none;
  color: #bdbafa;
  transition: 0.3s ease-in-out;
}

nav ul a:hover {
  color: #333;
  /* text-decoration: underline; */
  background-color: #a5a0fc;
  padding: 5px;
  border-radius: 5px;
}

/* hero section */
.hero {
  /* display: flex; */
  width: 100%;
  /* align-items: center;
  justify-content: space-between; */
  margin-top: 30px;
}

.hero .hero-content {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.hero-content p {
  color: #bdbafa;
}

.hero .hero-img {
  width: 100%;
}

.hero input {
  padding: 8px;
  width: 100%;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-right: 8px;
  border-radius: 10px;
  border: 1px solid black;
}

.hero input::placeholder {
  color: #bdbafa;
}

.hero button {
  /* padding: 8px 25px; */
  display: inline-block;
  height: 38px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background: blue;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: 0.6s ease;
}

.hero button:hover {
  background: #a5a0fc;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  /* transform: scale(1.1); */
}
/* end of hero section */

/* beginning of testimonial section */
.testimonial {
  /* display: flex; */
  width: 100%;
  /* align-items: center;
  justify-content: space-between; */
  margin-top: 100px;
}

.testimonial .left-side-content {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
}

.testimonial .left-side-content .text-content p {
  color: #bdbafa;
}

.left-side-content .text-content a {
  color: #3da08f;
  text-decoration: none;
  border-bottom: 2px solid #3da08f;
  padding-bottom: 3px;
}

.text-content a img {
  margin-bottom: -3.5px;
  /* border: 3px solid black; */
}

.testimonial-content {
  text-align: left;
  margin-top: 60px;
  width: 100%;
  padding: 20px;
  /* height: 200px; */
  background: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.testimonial-content p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 600;
  color: #333;
}

.img-testi {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* border: 3px solid red; */
}

.img-testi img {
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex: 1;
}

.name {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.position {
  margin: 0;
  font-size: 0.3rem;
}

.testimonial .right-side-img {
  width: 100%;
}
/* end of testimonial section */

/* beginning of early access section */
.early-access {
  text-align: center;
  margin-top: 100px;
  height: 400px;
  background: hsl(238, 22%, 44%);
  padding: 1px;
}

.early-access-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.early-access .early-access-container .txt-content {
  /* margin-right: 240px; */
  margin-bottom: 50px;
}

.input-content input {
  display: block;
  padding: 8px;
  width: 300px;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

.input-content input::placeholder {
  color: #bdbafa;
}

.input-content button {
  /* padding: 8px 25px; */
  display: inline-block;
  height: 38px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  border: none;
  background: blue;
  color: #fff;
  transition: 0.6s ease;
}

.input-content button:hover {
  background: #fff;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  /* transform: scale(1.1); */
}
/* end of early access section */

/* footer section */
footer {
  height: 600px;
  background: hsl(243, 87%, 12%);
  padding: 1px;
}

.footer-container {
  width: 80%;
  margin: 60px auto;
}

.footer-container .footer-content {
  display: block;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: #fff;
  margin-top: 20px;
}

.footer-content ul li {
  list-style-type: none;
  margin-top: 10px;
  margin-left: -11%;
}

.footer-content ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-content .phone {
  margin-top: 10px;
}

.footer-content .phone .tele {
  margin-left: 10px;
}

.footer-content .email {
  margin-top: 10px;
}

.footer-content .email .em {
  margin-left: 10px;
  /* border: 3px solid black; */
}

.attribution {
  margin-top: 35px;
  font-size: 0.7rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: skyblue;
}

.footer-container .social-links {
  text-align: center;
  margin-top: 45px;
}

.footer-container .social-links i {
  margin-right: 15px;
  cursor: pointer;
}

.footer-container .social-links i:hover {
  color: #3da08f;
}

.footer-container .social-links i:last-child {
  margin-right: 0;
}

.about {
  margin-top: 35px;
}

.contact {
  margin-top: 35px;
}
